production:
  subdomain:  campfire_subdomain
  token:      campfire_token
  room:       campfire_roomname

development:
  subdomain:  campfire_subdomain
  token:      campfire_token
  room:       campfire_roomname